<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="http://via.placeholder.com/300x250">
          <h4 class="card-title"><%= product.name %></h4>
        </div>
        <div class="card-content">
          <p><%= product.description %></p>
        </div>
        <div class="card-action">
          <p><%= number_to_currency product.price %></p>
          <%= form_for @order_item do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <label for="quantity">Enter Quantity:</label>
            <%= f.number_field :quantity, id: "quantity" %>
            <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
          <% end %>
        </div>
      </div>     
    </div>
  <% end %>
  <%= link_to 'Add a Product', new_product_path %>
</div>
</div>
